.ipynb_checkpoints/
.DS_Store

data/citibike-csv
data/stars
data/citibike/*
!data/citibike/*.geojson
!data/citibike/*.parquet

data/all_stocks.parquet
data/all_stocks.xlsx

target/

# Don't lock all specifics, just the main dependencies in pyproject.toml
uv.lock
